<h1>Editing Curricular Component</h1>

<%= render 'form', curricular_component: @curricular_component %>

<%= link_to 'Show', @curricular_component %> |
<%= link_to 'Back', curricular_components_path %>
