@import "bootstrap";
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nanum+Gothic+Coding&display=swap');

img {
  text-align: center;
    height: auto;
    width: 100%;
  }
/* Estilo fixo para a navbar no application.css */
/* Navbar fixa no topo */
.navbar, nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Para garantir que a navbar fique acima do conteúdo */
  background: linear-gradient(100deg, #243584, #4952cf); /* Gradiente de azul para laranja */
  color: white; /* Cor do texto na navbar */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 0; /* Remove qualquer padding da navbar */
}

/* Dentro do seu application.scss */

.navbar {
  background-color: #000f51 !important;
}

.navbar a {
  color: white !important;
  font-weight: bold;
}

.navbar a:hover {
  color: #ea7d00 !important
}

a{
  font-family: "Josefin Sans", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}


